.society_container { 
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 60px;
    width: 48%;
    height: 100%;
    font-size: 0.96em;
}


.society_row {display: flex;
flex-direction: row; 
text-align:left;
}

 .society_container hr {  border: none;
    border-top: 1px solid rgb(223, 223, 223);
margin-top: 7px;
margin-bottom: 5px;}



.society_cell.info {flex:1 ; font-weight: 600; 
    }


.society_cell.info_exp {flex:2.5; text-align:left;
    align-items: left;
    justify-content: left;
font-size: 0.92em;}
