

.society_container { 
    position: static;
    margin: 15% auto 5% auto;
    left: 0;
    right: 0;
    width: 48%;
    height: 100%;
    font-size: 0.96em;
}


.society_row {display: flex;
flex-direction: row; 
text-align:left;

}

 .society_container hr {  border: none;
    border-top: 1px solid rgb(223, 223, 223);
margin-top: 7px;
margin-bottom: 5px;}



.society_cell.info {flex:1 ; font-weight: 600; 
    }


.society_cell.info_exp {flex:2.5; text-align:left;
    align-items: left;
    justify-content: left;
font-size: 0.92em;}

.society-box-container {
    position: relative;
    margin: auto;
    display: flex;
    margin-top: 50px;
    width: 100%;
    align-content: center;
    justify-content: center;
    gap: 17px;
    margin-bottom: 95px;
}

.dirigenzabox, .consigliobox{
    width: 561px;
    height: 300px;
    background-color: wheat;
    padding-left: 20px;
    transition: background-size 0.8s ease-in-out;
}

.dirigenzabox {
    background-image: url('../../asset/img/about/about-image.jpg.adapt.crop16x9.652w.jpg');
    background-position: left bottom;
}

.consigliobox
{
    background-image: url('../../asset/img/about/about-image1.jpg.adapt.crop16x9.652w.jpg');
    background-position: left bottom;
}
 .dirigenzabox h2, .consigliobox h2 {
    color: white;
    justify-content: center;
    position: relative;
    top: 40%;
    font-size: 1.1em;
    font-weight: 600;
 }

 .dirigenzabox:hover, .consigliobox:hover {
    background-size: 105%;
     
    }

 #freccia_society {
     background: none;
     border-radius: 100%;
     border: none;
     outline: 2px solid white;
     font-size: 1.0em;
     padding: 7px 10px;
     color: white;
     position: relative;
    top: 56%;
    transition-duration: 0.3s;
    cursor: pointer;
 }

#freccia_society:hover {
    transform: scale(1.2);
}



@media screen and (min-width: 1280px) and (max-width: 1799px){
            
.society_container { 
    margin: 22% auto 5% auto;
}
}