/* general setting */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #ff4747;
  --dark-color: #161616;
  --light-color: #dedede;
  --light-color-max: #fff;
}

html {
  box-sizing: border-box;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
}

body {
  background-color: #f3f3f3;
}

/* Tipography */

h3 {
  font-weight: 500;
  font-size: 40px;
}

h6 {
  font-size: 20px;
  font-weight: 300;
}

.news__title {
  text-align: center;
  letter-spacing: -1px;
}

/* Top bar */

.header {
  width: 100%;
  background-color: var(--dark-color);
}

.topbar {
  display: flex;
  justify-content: flex-end;
  margin: 0 3% 0 0;
  padding-top: 0.3rem;
}

.topbar__icon {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar__icon__account {
  height: 1.4rem;
  fill: #8a8a8a;
  margin-bottom: 8px;
}

.topbar__icon__account:hover {
  fill: var(--light-color-max);
}

.topbar__icon__help {
  height: 1.4rem;
  margin: 0.2rem 0 0.2rem 0;
  padding-left: 15px;
  fill: #8a8a8a;
}

.topbar__icon__help:hover {
  fill: var(--light-color-max);
}

.topbar__icon__logo {
  height: 1.1rem;
}

.topbar__icon__logo:hover {
  filter: brightness(1.2);
}

/* menu */

nav {
  background-color: var(--light-color-max);
  display: flex;
  align-items: center;
  padding: 0.2rem 30px 0.2rem 30px;
}

.more-vertical {
  background-color: var(--dark-color);
  border-radius: 100%;
  width: 6px;
  height: 6px;
  margin-right: 50px;
}

.more-vertical::after {
  display: block;
  content: '';
  background-color: var(--dark-color);
  border-radius: 100%;
  width: 6px;
  height: 6px;
  transform: translateY(3px);
}

.more-vertical::before {
  display: block;
  transform: translateY(-9.5px);
  content: '';
  background-color: var(--dark-color);
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.more-vertical:hover {
  background-color: var(--primary-color);
  width: 7.5px;
  height: 7.5px;
}

.more-vertical:hover::after {
  background-color: var(--primary-color);
  width: 7.5px;
  height: 7.5px;
}

.more-vertical:hover::before {
  background-color: var(--primary-color);
  width: 7.5px;
  height: 7.5px;
}

.logo__img {
  width: 13rem;
  padding-right: 30%;
  margin-top: 0.2rem;
}

.menu {
  display: flex;
}

.menu__box {
  display: flex;
}

.menu__items {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.menu__items:hover > a {
  color: var(--primary-color);
}

.menu__items:hover > i {
  border: solid var(--primary-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-right: 12px;
  margin-bottom: 10px;
  transform: rotate(225deg) translateY(-8px);
}

.menu__item {
  padding-right: 0.6rem;
}

.menu li {
  list-style: none;
}
.menu li a {
  list-style: none;
  text-decoration: none;
  color: var(--dark-color);
  font-size: 1rem;
  letter-spacing: -1px;
}

.arrow {
  border: solid var(--dark-color);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  margin-right: 12px;
  margin-bottom: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* News  filter*/

.news {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10%;
}

.news__filter {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  width: 80%;
  flex-direction: row;
  margin-left: 10%;
}

.news__filter__items {
  display: flex;
  flex: 1;
  flex-basis: 10%;
  align-content: flex-start;
  margin-left: 10%;
}

.news__filter__item {
  list-style: none;
  text-decoration: none;
  align-content: flex-start;
  padding: 1% 1.2%;
  position: relative;
}

.news__filter__item:not(:first-child)::after {
  display: block;
  content: '|';
  width: 2px;
  height: 20px;
  color: #cfcfcf;
  position: absolute;
  left: -2px;
  top: 20%;
  transform: scaleY(1.7);
}

.news__filter__item:focus,
.news__filter__item:hover {
  background-color: var(--light-color);
}

.news__filter__item--active {
  background-color: var(--light-color);
}

.news__filter__item--active::after {
  content: '';
  position: absolute;
  display: block;
  height: 2.5px;
  width: 80%;
  background-color: var(--primary-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/*
.news__filter__item__box {
}
*/

.separetor {
  background-color: var(--light-color);
  width: 100%;
  height: 2px;
}

/*News Cards*/
.news__card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 5px;
  align-content: flex-start;
  align-items: stretch;
  width: 75%;
  margin: 5% auto;
}

.news__card {
  flex: 3 3 auto;
  margin: 0.35em;
  background-color: var(--light-color-max);
  transform: translateY(0);
  width: 25%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.news__card:hover {
  transform: translateY(-10px);
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.2);
}

.news__card:active {
  outline: 4px solid var(--dark-color);
  outline-offset: -8px;
}
.news__card-header img {
  width: 100%;
}

.card-body__info {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 4% 0 0 4%;
}

.card-body__info h5 {
  color: var(--primary-color);
  font-size: 15px;
  letter-spacing: -1px;
}

.card-body__date {
  font-size: 15px;
  font-weight: 600;
}

.card-body__title {
  margin: 2% 2% 0 4%;
  font-size: 24px;

  line-height: 1.2;
}

.card__body-description {
  margin: 2% 4% 5% 4%;
  font-size: 16px;
  line-height: 1.5;
}

/*
.news-cta {
  margin: 0 auto 5% auto;
  border: 2px solid #161616;
  border-radius: 2px;
  width: 8em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.news-cta:hover {
  width: 9em;
  height: 4em;
} */

.news-cta {
  margin: 0 auto 4% auto;
  padding: 0 1%;
}
.news-cta__button a:link,
a:visited {
  text-decoration: none;

  color: var(--dark-color);
  font-size: 16px;
  outline: 2px solid var(--dark-color);
  outline-offset: 15px;
}

.news-cta__button a:hover {
  outline-offset: 18px;
}
/* Hero Section */
.hero-section {
  box-sizing: border-box;
}
.hero-container {
  height: 576px;
  display: flex;
  flex-basis: 50%;
  flex-wrap: nowrap;
  background: url(asset/img/bf-2042-hazard-zone-section-bg-homepage-hero-keyart-xl.jpg.adapt.1456w.jpg)
    no-repeat;
  background-size: cover;
  overflow: hidden;
}
.item1 {
  padding: 20px 0px 0px 0px;
  max-height: 576px;
  width: 50%;
  color: white;
}
.sub-items {
  height: 570px;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub-items h6 {
  text-align: center;
  font-size: 16px;
  padding: 0px 0px 40px 70px;
}
.sub-item1,
.sub-item2,
.sub-item3 {
  width: auto;
  color: white;
}
.sub-item1 {
  padding-left: 80px;
}

.sub-item3 {
  text-decoration: none;
  color: rgba(12, 12, 12, 0.9);
  background-color: rgb(255, 71, 71);
  padding: 15px;
  border-radius: 4%;
  margin-left: 70px;
}
.sub-item3-container {
  padding-bottom: 50px;
}
.sub-item3:hover {
  padding: 18px;
}
/* Play CTA */
.play-section {
  box-sizing: border-box;
}
.play-container {
  height: 570px;
  display: flex;
  flex-basis: 50%;
  flex-wrap: nowrap;
  background: url(asset/img/hero-medium-console-7x2-xl.jpg.adapt.crop5x2.1455w.jpg)
    no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-left: 30px;
}
.play-item1 {
  padding: 20px 0px 0px 0px;
  max-height: 576px;
  width: 50%;
  color: white;
}
.play-sub-items {
  height: 560px;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 30px;
}
.play-sub-items h6 {
  font-size: 16px;
  padding: 0px 0px 40px 70px;
}
.play-sub-item1,
.play-sub-item2,
.play-sub-item3-container {
  width: auto;
  color: white;
}
.play-sub-item3 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 4%;
  margin-left: 70px;
  border: 2px solid rgb(255, 255, 255);
  display: inline;
}
.play-sub-item1 {
  padding-left: 70px;
}

/*gallery_games*/

.gallery_games {
  text-align: center;
  margin-top: 60px;
}

.gallery_games > h3 {
  font-weight: 550;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.gallery_games > h3::first-letter {
  font-size: 45px;
}

.gallery_games_container1,
.gallery_games_container2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery_games_item {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 14px;
}

#gallery_games_image {
  width: 350px;
  filter: brightness(60%);
  position: relative;
  z-index: -3;
}

#gallery_games_logo {
  width: 50%;
  position: absolute;
  top: 40%;
  right: 25%;
}

#gallery_games_logo_middle {
  width: 35%;
  position: absolute;
  top: 40%;
  right: 30%;
}

.gallery_games_item:hover {
  background-image: linear-gradient(
    90deg,
    rgba(0, 14, 65, 0.8),
    rgba(255, 65, 68, 0.8)
  );
}

.gallery_games_item:hover #gallery_games_logo,
.gallery_games_item:hover #gallery_games_logo_middle {
  top: 20%;
  transition-duration: 0.5s;
}

.gallery_games_item > p {
  position: absolute;
  top: 50%;
  right: 35%;
  font-size: 1em;
  color: var(--light-color-max);
  visibility: hidden;
}

.gallery_games_item:hover > p {
  visibility: visible;
}

/*Parental Control*/

.parental_control_container {
  width: 100%;
  height: 30%;
  background-color: #6fb0d6;
  padding-top: 1.5%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.parental_control_item {
  padding-left: 20%;
  width: 60%;
}

.parental_control_item > p {
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: -0.8px;
}

.parental_control_item::first-letter {
  font-size: 1.1em;
}

#button_container {
  background: none;
  color: black;
  text-decoration: none;
  border: 2px solid #000;
  padding: 17px 25px;
  font-size: 1em;
  border-radius: 3px;
  cursor: pointer;
}

#button_container:hover {
  transition-duration: 0.2s;
  transform: scale(1.05);
}
