@import url(style/layout/menu.css);
@import url(style/home/news.css);
@import url(style/home/hero.css);
@import url(style/home/play-cta.css);
@import url(style/home/games.css);
@import url(style/home/parental-control.css);
@import url(style/layout/footer.css);

/* general setting */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #ff4747;
  --dark-color: #161616;
  --light-color: #dedede;
  --light-color-max: #fff;
}

html {
  box-sizing: border-box;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
}

body {
  background-color: #f3f3f3;
}

/* Tipography */

h3 {
  font-weight: 500;
  font-size: 40px;
}

h6 {
  font-size: 20px;
  font-weight: 300;
}

.news__title {
  text-align: center;
  letter-spacing: -1px;
}
