/* general setting */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
}

body {
  background-color: #f3f3f3;
}

/* Tipography */

h3 {
  font-weight: 500;
  font-size: 40px;
}

h6 {
  font-size: 20px;
  font-weight: 300;
}

.news__title {
  text-align: center;
  letter-spacing: -1px;
}

/* Top bar */

.header {
  width: 100%;
  background-color: #161616;
}

.topbar {
  display: flex;
  justify-content: flex-end;
  margin: 0 50px 0 0;
  padding-top: 8px;
}

.topbar__icon {
  width: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar__icon__account {
  height: 30px;
  fill: #8a8a8a;
  margin-bottom: 8px;
}

.topbar__icon__account:hover {
  fill: white;
}

.topbar__icon__help {
  height: 30px;
  margin: 10px 0 10px 0;
  padding-left: 15px;
  fill: #8a8a8a;
}

.topbar__icon__help:hover {
  fill: white;
}

.topbar__icon__logo {
  height: 20px;
}

.topbar__icon__logo:hover {
  filter: brightness(1.2);
}

/* menu */

nav {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px 30px 10px 30px;
}

.more-vertical {
  background-color: #161616;
  border-radius: 100%;
  width: 6px;
  height: 6px;
  margin-right: 50px;
}

.more-vertical::after {
  display: block;
  content: '';
  background-color: #161616;
  border-radius: 100%;
  width: 6px;
  height: 6px;
  transform: translateY(3px);
}

.more-vertical::before {
  display: block;
  transform: translateY(-9.5px);
  content: '';
  background-color: #161616;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.more-vertical:hover {
  background-color: #ff4747;
  width: 7.5px;
  height: 7.5px;
}

.more-vertical:hover::after {
  background-color: #ff4747;
  width: 7.5px;
  height: 7.5px;
}

.more-vertical:hover::before {
  background-color: #ff4747;
  width: 7.5px;
  height: 7.5px;
}

.logo__img {
  width: 250px;
  padding-right: 30%;
}

.menu {
  display: flex;
}

.menu__box {
  display: flex;
}

.menu__items {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.menu__items:hover > a {
  color: #ff4747;
}

.menu__items:hover > i {
  border: solid #ff4747;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-right: 12px;
  margin-bottom: 10px;
  transform: rotate(225deg) translateY(-8px);
}

.menu__item {
  padding-right: 12px;
}

.menu li {
  list-style: none;
}
.menu li a {
  list-style: none;
  text-decoration: none;
  color: #161616;
  font-size: 20px;
  letter-spacing: -1px;
}

.arrow {
  border: solid #161616;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-right: 12px;
  margin-bottom: 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* News  filter*/

.news {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10%;
}

.news__filter {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  width: 80%;
  flex-direction: row;
  margin-left: 10%;
}

.news__filter__items {
  display: flex;
  flex: 1;
  flex-basis: 10%;
  align-content: flex-start;
  margin-left: 10%;
}

.news__filter__item {
  list-style: none;
  text-decoration: none;
  align-content: flex-start;
  padding: 1% 1.2%;
  position: relative;
}

.news__filter__item:not(:first-child)::after {
  display: block;
  content: '|';
  width: 2px;
  height: 20px;
  color: #cfcfcf;
  position: absolute;
  left: -2px;
  top: 20%;
  transform: scaleY(1.7);
}

.news__filter__item:focus,
.news__filter__item:hover {
  background-color: #dedede;
}

.news__filter__item--active {
  border: #ff4747 solid 1px;
  border-width: 0 0 3px 0;
  background-color: #dedede;
}

.news__filter__item__box {
  display: flex;
  align-items: center;
  flex: 1;
}

.separetor {
  background-color: #dedede;
  width: 100%;
  height: 2px;
}

/*News Cards*/
.news__card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 5px;
  align-content: flex-start;
  align-items: stretch;
  width: 75%;
  margin: 5% auto;
}

.news__card {
  flex: 3 3 auto;
  margin: 0.35em;
  background-color: white;
  transform: translateY(0);
  width: 25%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.news__card:hover {
  transform: translateY(-10px);
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.2);
}

.news__card:active {
  outline: 4px solid #161616;
  outline-offset: -8px;
}
.news__card-header img {
  width: 100%;
}

.card-body__info {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 4% 0 0 4%;
}

.card-body__info h5 {
  color: #ff4747;
  font-size: 15px;
  letter-spacing: -1px;
}

.card-body__date {
  font-size: 15px;
  font-weight: 600;
}

.card-body__title {
  margin: 2% 2% 0 4%;
  font-size: 24px;

  line-height: 1.2;
}

.card__body-description {
  margin: 2% 4% 5% 4%;
  font-size: 16px;
  line-height: 1.5;
}

/*
.news-cta {
  margin: 0 auto 5% auto;
  border: 2px solid #161616;
  border-radius: 2px;
  width: 8em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.news-cta:hover {
  width: 9em;
  height: 4em;
} */

.news-cta {
  margin: 0 auto 4% auto;
  padding: 0 1%;
}
.news-cta__button a:link,
a:visited {
  text-decoration: none;

  color: #161616;
  font-size: 16px;
  outline: 2px solid #161616;
  outline-offset: 15px;
}

.news-cta__button a:hover {
  outline-offset: 18px;
}
