.gallery_games {
  text-align: center;
  margin-top: 60px;
}

.gallery_games > h3 {
  font-weight: 550;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.gallery_games > h3::first-letter {
  font-size: 45px;
}

.gallery_games_container1,
.gallery_games_container2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery_games_item {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 14px;
}

#gallery_games_image {
  width: 350px;
  filter: brightness(60%);
  position: relative;
  z-index: -3;
}

#gallery_games_logo1 {
  width: 50%;
  position: absolute;
  top: 45%;
  right: 25%;
  transition-duration: 0.5s;
}

.gallery_games_item:hover #gallery_games_logo1 {
  top: 27%;
  transition-duration: 0.5s;
}

#gallery_games_logo2 {
  width: 35%;
  position: absolute;
  top: 40%;
  right: 33%;
  transition-duration: 0.6s;
}

.gallery_games_item:hover #gallery_games_logo2 {
  top: 21%;
  transition-duration: 0.6s;
}

#gallery_games_logo3 {
  width: 50%;
  position: absolute;
  top: 50%;
  right: 25%;
  transition-duration: 0.5s;
}

.gallery_games_item:hover #gallery_games_logo3 {
  top: 34%;
  transition-duration: 0.5s;
}

#gallery_games_logo4 {
  width: 50%;
  position: absolute;
  top: 44%;
  right: 23%;
  transition-duration: 0.4s;
}

.gallery_games_item:hover #gallery_games_logo4 {
  top: 30%;
  transition-duration: 0.4s;
}


#gallery_games_logo5 {
  width: 33%;
  position: absolute;
  top: 44%;
  right: 35%;
  transition-duration: 0.5s;
}

.gallery_games_item:hover #gallery_games_logo5 {
  top: 21%;
  transition-duration: 0.5s;
}

#gallery_games_logo6 {
  width: 47%;
  position: absolute;
  top: 42%;
  right: 27%;
  transition-duration: 0.5s;
}

.gallery_games_item:hover #gallery_games_logo6 {
  top: 23%;
  transition-duration: 0.5s;
}



.gallery_games_item:hover {
  background-image: linear-gradient(
    90deg,
    rgba(0, 14, 65, 0.8),
    rgba(255, 65, 68, 0.8)
  );
}



.gallery_games_item > p {
  position: absolute;
  top: 50%;
  right: 35%;
  font-size: 0.9em;
  color: var(--light-color-max);
  visibility: hidden;
}

.gallery_games_item:hover > p {
  visibility: visible;
}
