/*media generali*/
main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 320px) and (max-width: 374px) {
    .container-hero {
        width: 100%;
        min-height: 180px;
        max-height: 210px;
        background: url(../../asset/img/hero/img320.jpg) no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    .hero-contents {
        background-color: #161616;
        color: #f3f3f3;
        padding: 32px 24px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }
    .hero-contents h1 {
        font-size: 32px;
    }
    .hero-contents h6 {
        font-size: 14px;
        height: 78px;
        margin: 8px 0px 0px;
    }
    .hero-contents a {
        font-size: 16px;
    }
    .butt-cont {
        border: 2px solid rgb(255, 255, 255);
        text-align: center;
        padding: 12px 24px;
        border-radius: 3px;
    }
    .butt-cont a {
        color: #f3f3f3;
        text-decoration: none;
    }
    .hero-contents-large-screen {
        display: none;
    }
}
@media screen and (min-width: 375px) and (max-width: 639px) {
    .container-hero {
        width: 100%;
        min-height: 210px;
        max-height: 431px;
        background: url(../../asset/img/hero/img767.jpg) no-repeat;
        overflow: hidden;
        background-size: cover;
    }
    .hero-contents {
        background-color: #161616;
        color: #f3f3f3;
        padding: 32px 24px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }
    .hero-contents h1 {
        font-size: 32px;
    }
    .hero-contents h6 {
        font-size: 14px;
        height: 78px;
        margin: 8px 0px 0px;
    }
    .hero-contents a {
        font-size: 16px;
    }
    .butt-cont {
        border: 2px solid rgb(255, 255, 255);
        text-align: center;
        padding: 12px 24px;
        border-radius: 3px;
    }
    .butt-cont a {
        color: #f3f3f3;
        text-decoration: none;
    }
    .hero-contents-large-screen {
        display: none;
    }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
    .container-hero {
        width: 100%;
        min-height: 210px;
        max-height: 431px;
        background: url(../../asset/img/hero/img767.jpg) no-repeat;
        overflow: hidden;
        background-size: cover;
    }
    .hero-contents {
        background-color: #161616;
        color: #f3f3f3;
        padding: 32px 24px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }
    .hero-contents h1 {
        font-size: 32px;
    }
    .hero-contents h6 {
        font-size: 14px;
        height: 78px;
        margin: 8px 0px 0px;
    }
    .hero-contents a {
        font-size: 16px;
    }
    .butt-cont {
        width: 136px;
        height: 50px;
        text-align: center;
        border: 2px solid rgb(255, 255, 255);
        padding: 12px 24px;
        border-radius: 3px;
        display: flex;
    }
    .butt-cont a {
        color: #f3f3f3;
        text-decoration: none;
    }
    .hero-contents-large-screen {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container-hero {
        width: 100%;
        min-height: 384px;
        max-height: 511px;
        background: url(../../asset/img/hero/img1023.jpg) no-repeat;
        overflow: hidden;
        background-size: cover;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
    .container-hero {
        width: 100%;
        min-height: 409px;
        max-height: 575px;
        background: url(../../asset/img/hero/img1455.jpg) no-repeat;
        overflow: hidden;
        background-size: cover;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1439px) {
    .container-hero {
        width: 100%;
        min-height: 546px;
        max-height: 575px;
        background: url(../../asset/img/hero/img1455.jpg) no-repeat;
        overflow: hidden;
        background-size: cover;
    }    
    .sub-cont-large-screen h6 {
        width: 576px;
    }
}
@media screen and (min-width: 1440px) and (max-width: 1455px) {
    .container-hero {
        width: 100%;
        min-height: 576px;
        background: url(../../asset/img/hero/img1455.jpg) no-repeat;
        overflow: hidden;
        background-size: cover;
    }
}
@media screen and (min-width: 1456px) and (max-width: 1920px) {
    .container-hero {
        width: 100%;
        min-height: 415px;
        max-height: 548px;
        background: url(../../asset/img/hero/img1920.jpg) no-repeat;
        overflow: hidden;
        background-size: cover;
    }
}
@media screen and (min-width: 1920px) {
    .container-hero {
        width: 100%;
        min-height: 409px;
        max-height: 575px;
        background: url(../../asset/img/hero/img1455.jpg) no-repeat;
        overflow: hidden;
        background-size: cover;
    }
}
/* media font */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .head-cont-large-screen h1 {
        font-size: 38px;
        max-width: 312px;
    }
    .sub-cont-large-screen h6 {
        font-size: 16px;
    }
}
@media screen and (min-width: 1024px) and (max-width:1919px) {
    .head-cont-large-screen h1 {
        font-size: 44px;
        max-width: 422px;
    }
    .sub-cont-large-screen h6 {
        font-size: 18px;
    }
}
@media screen and (min-width: 1920px) {
    .head-cont-large-screen h1 {
        font-size: 54px;
    }
    .sub-cont-large-screen h6 {
        font-size: 18px;
    }
}
/* hero oltre i 768px */
@media screen and (min-width: 768px) {
    .hero-contents {
        display: none;
    }
    .hero-contents-large-screen h6 {
        height: 78px;
    }
    .hero-contents-large-screen a {
        font-size: 16px;
    }
    .butt-cont-large-screen {
        width: 136px;
        height: 50px;
        text-align: center;
        border: 2px solid rgb(255, 255, 255);
        padding: 12px 24px;
        border-radius: 3px;
        display: flex;
    }
    .butt-cont-large-screen a {
        color: #f3f3f3;
        text-decoration: none;
        display: flex;
    }
    .container-hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero-contents-large-screen {
        color: #f3f3f3;
        padding: 32px 24px;
        min-width: 312px;
        max-width: 568px;
        box-sizing: border-box;
        margin-left: 50%;
    }
} 
