.hero-section {
  box-sizing: border-box;
}
.hero-container {
  height: 576px;
  display: flex;
  flex-basis: 50%;
  flex-wrap: nowrap;
  background: url(../../asset/img/bf-2042-hazard-zone-section-bg-homepage-hero-keyart-xl.jpg.adapt.1456w.jpg)
    no-repeat;
  background-size: cover;
  overflow: hidden;
}
.item1 {
  padding: 20px 0px 0px 0px;
  max-height: 576px;
  width: 50%;
  color: white;
}
.sub-items {
  height: 570px;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub-items h6 {
  text-align: center;
  font-size: 16px;
  padding: 0px 0px 40px 70px;
}
.sub-item1,
.sub-item2,
.sub-item3 {
  width: auto;
  color: white;
}
.sub-item1 {
  padding-left: 80px;
}

.sub-item3 {
  text-decoration: none;
  color: rgba(12, 12, 12, 0.9);
  background-color: rgb(255, 71, 71);
  padding: 15px;
  border-radius: 4%;
  margin-left: 70px;
}
.sub-item3-container {
  padding-bottom: 50px;
}
.sub-item3:hover {
  padding: 18px;
}
