.news {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5%;
}

.news__filter {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  width: 80%;
  flex-direction: row;
  position: relative;
  margin-left: 10%;
}

.news__filter__items {
  display: flex;
  flex: 1;
  flex-basis: 10%;
  align-content: flex-start;
  margin-left: 10%;
  overflow: hidden;
}

.news__filter__item__box h6 {
}

.news__filter__item {
  list-style: none;
  text-decoration: none;
  align-content: flex-start;
  padding: 1% 1.2%;
  position: relative;
}

.news__filter__item:not(:first-child)::after {
  display: block;
  content: '|';
  width: 2px;
  height: 20px;
  color: #cfcfcf;
  position: absolute;
  left: -2px;
  top: 20%;
  transform: scaleY(1.7);
}

.news__filter__item:focus,
.news__filter__item:hover {
  background-color: var(--light-color);
}

.news__filter__item--active {
  background-color: var(--light-color);
}

.news__filter__item--active::after {
  content: '';
  position: absolute;
  display: block;
  height: 2.5px;
  width: 80%;
  background-color: var(--primary-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.news__filter__icon svg {
  display: none;
  fill: var(--dark-color);
  position: absolute;
  height: 30px;
  right: -50px;
  top: 10px;
}

.separetor {
  background-color: var(--light-color);
  width: 100%;
  height: 2px;
}

/*News Cards*/
.news__card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 5px;
  align-content: flex-start;
  align-items: stretch;
  width: 75%;
  margin: 5% auto;
}

.news__card {
  flex: 3 3 auto;
  margin: 0.35em;
  background-color: var(--light-color-max);
  transform: translateY(0);
  width: 25%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.news__card:hover {
  transform: translateY(-10px);
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.2);
}

.news__card:active {
  outline: 4px solid var(--dark-color);
  outline-offset: -8px;
}
.news__card-header img {
  width: 100%;
}

.card-body__info {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 4% 0 0 4%;
}

.card-body__info h5 {
  color: var(--primary-color);
  font-size: 1.2vw;
  letter-spacing: -1px;
}

.card-body__date {
  font-size: 1.1vw;
  font-weight: 600;
}

.card-body__title {
  margin: 2% 2% 0 4%;
  font-size: 1.5vw;
  line-height: 1.2;
}

.card__body-description {
  margin: 2% 4% 5% 4%;
  font-size: 16px;
  line-height: 1.5;
}

/*
  .news-cta {
    margin: 0 auto 5% auto;
    border: 2px solid #161616;
    border-radius: 2px;
    width: 8em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  .news-cta:hover {
    width: 9em;
    height: 4em;
  } */

.news-cta {
  margin: 0 auto 4% auto;
  padding: 0 1%;
}
.news-cta__button a:link,
a:visited {
  text-decoration: none;

  color: var(--dark-color);
  font-size: 16px;
  outline: 2px solid var(--dark-color);
  outline-offset: 15px;
}

.news-cta__button a:hover {
  outline-offset: 18px;
}

@media screen and (max-width: 1032px) {
  .news__filter__item {
    min-width: 25%;
    text-align: center;
  }

  .news__filter__icon svg {
    display: inline-block;
  }

  .news__card-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 5px;
    align-content: flex-start;
    align-items: stretch;
    width: 80%;
    margin: 5% auto;
  }

  .news__card {
    flex: 1 2 35%;
    margin: 0.35em;
    background-color: var(--light-color-max);
    transform: translateY(0);
    width: 25%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 768px) {
  .news__card {
    flex: 1 1 80%;
    margin: 0.35em;
    background-color: var(--light-color-max);
    transform: translateY(0);
    width: 25%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .news__card-header img {
    display: none;
  }

  .card-body__info h5 {
    color: var(--primary-color);
    font-size: 1.6vw;
    letter-spacing: -1px;
  }

  .card-body__date {
    font-size: 1.5vw;
    font-weight: 600;
  }

  .card-body__title {
    margin: 2% 2% 0 4%;
    font-size: 1.9vw;
    line-height: 1.2;
  }

  .card__body-description {
    margin: 2% 4% 5% 4%;
    font-size: 14px;
    line-height: 1.5;
  }

  .news__filter__item {
    min-width: 25%;
    text-align: center;
  }

  .news__filter__item h6 {
    font-size: 2.5vw;
  }
}
